*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.log

/build/
/bin/
/debug/
/dist/
/CMakeFiles/
/CMakeCache.txt
/Makefile

.vscode/
*.code-workspace

.DS_Store
Thumbs.db

*.tmp
*.swp
*.bak
*.old
*.~*

__pycache__/
*.pyc

crow_log.txt

test.cpp
